/* Plans */
.plans {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}

.plans__title {
    font-size: 36px;
    margin-top: 120px;
}

.plans__container {
    margin-top: 80px;
    display: flex;
}

.list__item {
    width: 400px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin-bottom: 12px;

    border-radius: 20px;
    font-size: 24px;
    font-weight: 600;
}

.daily__title {
    margin: 0 60px 60px 60px;
    font-size: 32px;
    text-align:center
}

.daily__container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.daily__text {
    width: 40%;
    padding: 0 100px 0 100px;
}

.daily__title__p {
    margin-bottom: 24px;
}

.monthly {
    margin-bottom: 120px;
}

.daily .list__item {
    background-color: #BDE7FF;
}

.weekly .list__item {
    background-color: #91D7FF;
}

.monthly .list__item {
    background-color: #33B4FF;
}