.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.contacts__avatar {
    margin-top: 160px;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    border-radius: 100%;
}

.contacts__title {
    margin-top: 48px;
    margin-bottom: 12px;
}

.contacts__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__item {
    cursor: pointer;
    margin: 24px 24px 0px 24px;
}